@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// === Mixin ===
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}
// === / Mixin ===


// === Variables ===
$base: 4px;

$fw-regular: 400;
$fw-bold: 700;

$pop_up_hover: #854FC8;
// === / Variables ===


// === Common ===
body,html {
    @include roboto;
    background-color: #fff;
}
// === / Common ===

// ghbdtn

// === POP_UP ===
.outer_pop_up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 26.56%;
    right: 26.46%;
    top: 4.04%;
    bottom: 44.92%;
    width: 481px;
    height: 392px;
    
}
.inner_pop_up {
    display: flex;
    flex-direction: column;
    width: 481px;
    height: 392px;
    padding: 0px 40px 0px 40px;
    border-radius: 12px;
    border: 1px solid #F7F5F9;
    background-color: #F7F5F9;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
    p {
        align-self: flex-start;
        font-weight: $fw-bold;
        font-size: $base * 6;
    }
    input {
        height: 48px ;
        width: 401px - 14px; //из за padding left
        padding-left: 14px;
        margin-bottom: 25px; 
        background-color: #fff;
        border: 1px solid #fff;
        font-weight: $fw-regular;
        font-size: $base * 4;
        border-radius: 6px;
        &:hover {
            outline: none;
            border-radius: 10px;
            border: 1px solid $pop_up_hover;
        }
        &:focus {
            outline: none;
            border-radius: 0px;
            border: 1px solid $pop_up_hover;
        }
        &::placeholder {
            color: #D0C9D6;
        }
    }
    button {
        height: 48px;
        width: 100%;
        font-weight: $fw-regular;
        font-size: $base * 4;
        color: #fff;
        background: #6979F8;
        cursor: pointer; 
        border: none;
        border-radius: 6px;
        &:hover {
            outline: none;
            border-radius: 10px;
            border: 1px solid $pop_up_hover;
        }
        &:focus {
            outline: none;
            border-radius: 0px;
            border: 1px solid $pop_up_hover;
        }
    }
}
// === / POP_UP ===